* {
    color: #525659;
    font-family: calibri;
    margin: 0;
}

.sign-in.body, .success.body{
    background-color: #d0ddf487;
}

.sign-in.body{
    padding: 11vh 0;
}

.sign-in .box{
    margin: 0 23vw;
    padding: 60px 60px 90px 60px;
    text-align: center;
    background-color: #fff;
}

.sign-in .box h1 {
    font-size: 48px;
}

.sign-in .box p {
    font-size: 21px;
    margin: 12px 0;
}

.sign-in .box p, .sign-in .box ::placeholder{
    color: #00000075;
}

.sign-in .box input, .sign-in .box button {
    border: 1px solid #00000075;
    border-radius: 5px;
    font-size: 20px;
    height: 50px;
    margin: 7px 0;
    padding: 0 15px;    
    width: 300px;
}

.sign-in .box button {
    background-color: #525659;
    color: #fff;
    margin: 10px 0;
    width: 330px;
}

.sign-in .box button:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 991px) {
    .sign-in .box {
        margin: 0 12vw;
    }
}

@media (max-width: 667px) {
    .sign-in .box {
        margin: 0 2vw;
        padding: 60px 10px 90px 10px;
    }
}

.success.body {
    background-color: #d0ddf487;
    height: -webkit-fill-available;
    text-align: center;
    padding: 50vh 0;
}

.success.body h1 {
    color: #607d8b9e;
    font-size: 48px;
}



/* Mesmo sabendo que poderia colocar os elementos diretos(já que no teste foi utilizado apenas 1 vez cada elemento), 
optei pelo aninhamento para melhor organização */